{{>header}}
<title>Interio | Contact</title>
{{>navbar}}
<div class="conatainer-fluid my-2">
    <h5 class="text-center">Contact Us</h5>
    <div class="row">
        <div class="col-md-6">
            <div class="background text-center m-1 p-2">Phone 8979452649</div>
            <div class="background text-center m-1 p-2">Email akhilbhardwaj2504@gmail.com</div>
            <div class="background text-center m-1 p-2">Bhagupur,kuberpur,Agra</div>
            <div class="mapouter">
                <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=bhagupur,kuberpur,agra&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                        href="https://123movies-to.org">123movies</a><br>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 500px;
                            width: 100%;
                        }
                    </style><a href="https://www.embedgooglemap.net"></a>
                    <style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 500px;
                            width: 100%;
                        }
                    </style>
                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
{{>footer}}