{{>header}}
<title>Project | Home</title>
{{>navbar}}
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/Images/p1.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/Images/p2.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/Images/p3.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/Images/p4.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/Images/p5.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    <h4 class="background text-center p-2">Our services</h4>
    <div class="container-fluid d-flex">
        <div class="row">
            <div class="col-md-6 col-12 service-item w-50 p-2">
                <img src="/Images/p1.jpg" height="200px" class="w-100" alt="">
            </div>
            <div class="col-md-6 col-12 service-item w-50 p-2">
                <h5 class="background text-center p-2">Service 1</h5>
                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius vitae,
                    reiciendis ut praesentium,
                    velit facere est id impedit totam dolorum possimus, ipsum vel labore maxime placeat libero
                    doloremque? Deserunt eaque est, magnam consequuntur maiores placeat veritatis amet quaerat quod,
                    aperiam nobis similique ad dolores repudiandae doloremque explicabo culpa dolore cum!</p>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row d-flex flex-md-row-reverse">
            <div class=" col-md-6 col-12 service-item w-50 p-2">
                <img src="/Images/p2.jpg" height="200px" class="w-100" alt="">
            </div>
            <div class=" col-md-6 col-12 service-item w-50 p-2">
                <h5 class="background text-center p-2">Service 2</h5>
                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius vitae,
                    reiciendis ut praesentium,
                    velit facere est id impedit totam dolorum possimus, ipsum vel labore maxime placeat libero
                    doloremque? Deserunt eaque est, magnam consequuntur maiores placeat veritatis amet quaerat quod,
                    aperiam nobis similique ad dolores repudiandae doloremque explicabo culpa dolore cum!</p>
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex">
        <div class="row">
            <div class="col-md-6 col-12 service-item w-50 p-2">
                <img src="/Images/p4.jpg" height="200px" class="w-100" alt="">
            </div>
            <div class="col-md-6 col-12 service-item w-50 p-2">
                <h5 class="background text-center p-2">Service 3</h5>
                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius vitae,
                    reiciendis ut praesentium,
                    velit facere est id impedit totam dolorum possimus, ipsum vel labore maxime placeat libero
                    doloremque? Deserunt eaque est, magnam consequuntur maiores placeat veritatis amet quaerat quod,
                    aperiam nobis similique ad dolores repudiandae doloremque explicabo culpa dolore cum!</p>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <a href="/service" class="btn background d-block m-auto" style="width: 20%;">Read more</a>
    </div>
    {{>footer}}