{{>header}}
<title>Interio | Service</title>
{{>navbar}}
<h4 class="text-center p-2">Our services</h4>
<div class="container-fluid d-flex">
    <div class="row">
        <div class="col-md-6 col-12 service-item w-50 p-2">
            <img src="/Images/p1.jpg" height="200px" class="w-100" alt="">
        </div>
        <div class="col-md-6 col-12 service-item w-50 p-2">
            <h5 class="background text-center p-2">Service 1</h5>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius vitae,
                reiciendis ut praesentium,
                velit facere est id impedit totam dolorum possimus, ipsum vel labore maxime placeat libero
                doloremque? Deserunt eaque est, magnam consequuntur maiores placeat veritatis amet quaerat quod,
                aperiam nobis similique ad dolores repudiandae doloremque explicabo culpa dolore cum!</p>
        </div>
    </div>
</div>
<div class="container-fluid ">
    <div class="row d-flex flex-md-row-reverse">
        <div class=" col-md-6 col-12 service-item w-50 p-2">
            <img src="/Images/p2.jpg" height="200px" class="w-100" alt="">
        </div>
        <div class=" col-md-6 col-12 service-item w-50 p-2">
            <h5 class="background text-center p-2">Service 2</h5>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius vitae,
                reiciendis ut praesentium,
                velit facere est id impedit totam dolorum possimus, ipsum vel labore maxime placeat libero
                doloremque? Deserunt eaque est, magnam consequuntur maiores placeat veritatis amet quaerat quod,
                aperiam nobis similique ad dolores repudiandae doloremque explicabo culpa dolore cum!</p>
        </div>
    </div>
</div>
<div class="container-fluid d-flex">
    <div class="row">
        <div class="col-md-6 col-12 service-item w-50 p-2">
            <img src="/Images/p4.jpg" height="200px" class="w-100" alt="">
        </div>
        <div class="col-md-6 col-12 service-item w-50 p-2">
            <h5 class="background text-center p-2">Service 3</h5>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius vitae,
                reiciendis ut praesentium,
                velit facere est id impedit totam dolorum possimus, ipsum vel labore maxime placeat libero
                doloremque? Deserunt eaque est, magnam consequuntur maiores placeat veritatis amet quaerat quod,
                aperiam nobis similique ad dolores repudiandae doloremque explicabo culpa dolore cum!</p>
        </div>
    </div>
</div>

{{>footer}}